<footer
    style="
    background-color: #FFF;
    position:fixed;
    bottom: 0px;
    text-align: center;
    align-content: center;
    width: 100%;
    "
>
    <div class="content-padding">
        <div class="footer-content">
            <p> Copyright &copy; Divyesh Parmar INC. </p>

            <div class="social-media-icons">
                <a href="https://www.facebook.com/pddivyesh"><i class="fab fa-empire"></i><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-rebel"></i></a>
            </div>
        </div>
    </div>
</footer>