<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
    <% include partials/navbar.ejs %>
</head>
<body>
    <p class="container" style="font-family: consolas; font-size: 40px; text-align: center;"><small>sign up to enjoy this summer</small></p>
    <form class="container" action="/users/register" method="post" style="font-family: consolas; padding: 40px;">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username"  placeholder="user...name...">
        </div>

        <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email"  placeholder="name@email.com">
        </div>

        <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password"  placeholder="kar ke dekho achchha lagta hai">
        </div>

        <div class="form-group">
                <label for="confirm password">Confirm Password</label>
                <input type="password" class="form-control" name="password2"  placeholder="ek bar aur chek kr hi lo">
        </div>

        <div class="form-group">
                <label for="profileimage">Profile Image</label>
                <input type="file" class="form-control" name="profileimage"  placeholder="showcase your dp...">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>

    </form>
    <div class="footer">
        <% include partials/footer.ejs %>
        <% include partials/scripts.ejs %>
    </div>
</body>
</html>