<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
    <% include partials/navbar.ejs %>
</head>
<body>
    <p class="container" style="font-family: consolas; font-size: 40px;">Welcome to user page</p>
    <% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>
</body>
</html>